@import '../core/variables.scss';
@import '../core/mixins';
.header {
  @include font(1.5rem, white);
  color: white;
  padding-block: 4rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: $violetB;

  @media (min-width: 768px) {
    font-size: 2.5rem;
    padding-block: 5rem;
  }
  @media (min-width: 1200px) {
    font-size: 3rem;
    padding-block: 6.5rem;
  }
}
.main {
  background-color: rgb(208, 230, 231);
}
.errorSearch {
  @include font(1.6rem, $violet);
  text-align: center;
  padding-top: 4rem;
  font-weight: 700;
}
