@import '../core/variables.scss';
.section2 {
  padding: 2rem;
  text-align: center;
  @media (min-width: 768px) {
    padding-inline: 3rem;
  }
}

.btnBack {
  text-decoration: none;
  font-size: 1.4rem;
  text-align: center;
  color: $violet;
  display: inline-block;
  padding: 0.5rem;
  margin: 1rem;
  width: 8rem;
  border: none;
  color: white;
  background-color: $violet;
  border-radius: 2.5rem;
  cursor: pointer;
  &:hover {
    background-color: $violetB;
  }
  @media (min-width: 768px) {
    width: 12rem;
  }
}
