@import '../core/variables';
@import '../core/mixins';
.form {
  @include dFlex(column, none, center);

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 4rem;
  }
  &_label {
    @include font(1.5rem, $violet);
    margin: 1rem;
    font-weight: 700;
  }
  &_input {
    color: $violet;
    padding: 0.3rem;
    border: 1px solid $violet;
    border-radius: 0.5rem;
    background-color: white;
    outline-color: $violet;
    &::placeholder {
      color: $violet;
    }
    &:hover {
      border: 2px solid $violet;
    }
  }
}
