@import '../core/variables';
@import '../core/mixins';
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 15px;
  &_link {
    text-decoration: none;
  }
  &_card {
    @include dFlex(column, space-evenly, center);
    @include font(1.3rem, $violetB);
    @include card();
    list-style: none;
    min-height: 44rem;

    &:hover {
      @include cardHover();
    }

    &-img {
      width: 200px;
    }
    &-desc {
      display: flex;
      flex-direction: column;
      &_line {
        font-style: italic;
        color: $blue;
        &:hover {
          color: $blueB;
        }
      }
    }
  }
}
