.card {
  list-style: none;

  &-a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
  & img {
    width: 200px;
  }
}

.container_li {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}
