@import '../core/variables';
@import '../core/mixins';
.article {
  @include font(1.3rem, $violetB);
  @include card();
  @include dFlex(column, none, center);
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  gap: 1rem;

  @media (min-width: 768px) {
    @include dFlex(row, center, center);
    gap: 3rem;
    padding: 3rem;
    margin-top: 4rem;
    font-size: 2rem;
  }

  &:hover {
    @include cardHover();
  }
  &_img {
    width: 200px;
    @media (min-width: 768px) {
      width: 300px;
    }
  }
  &_detail {
    @include dFlex(column, none, center);
    gap: 1rem;
    &-title {
      font-size: 2.4rem;
      @media (min-width: 768px) {
        font-size: 3.5rem;
      }
    }
    &-line {
      font-style: italic;
    }
    &-audio {
      font-style: italic;
      display: flex;
      align-items: baseline;
      gap: 0.3rem;
      text-decoration: none;
      color: $blue;
      &:hover {
        color: $blueB;
      }
    }
  }
}
